<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         backupStaticAttributes="false"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 processIsolation="false"
		 stopOnFailure="false"
		 backupGlobals="false"
		 syntaxCheck="false"
		 colors="true">
	<testsuites>
		<testsuite name="Acme Test Suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>